// global.scss

html,
body {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	color: #101010;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	-webkit-overflow-scrolling: touch;
}

p {
	font-size: 13px;
	&.italic {
		font-style: italic;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a, a:focus {
	color: #101010;
	text-decoration: none;
	outline: none;
}

a:hover,  {
	color: #c2151c;
	text-decoration: none;
}


label {
	font-weight: 300;
	color: #646464;

	&.error {
		color: red;
		font-size: 12px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
}


.text-blakish {
	color: #333333;
}
.text-blue {
	color: #2653a6;
}

.trans {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bg-grey  {
	background-color: #f5f5f5;	
}


.btn,
.btn:link,
.btn:focus,
.btn:visited,
.btn:active {
	padding: 6px 10px;
	color: #fff;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	border: 1px solid transparent;
	text-decoration: none;
	border-radius: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:link:focus, .btn:focus:focus, .btn:visited:focus, .btn:active:focus {
	box-shadow: none;
}

.btn-small {
	padding: 3px 6px !important;
	font-size: 11px !important;
	line-height: normal !important;
	border-radius: 0px !important;
}

.btn-blue,
.btn-blue:link,
.btn-blue:focus,
.btn-blue:visited,
.btn-blue:active {
	padding: 15px 40px;
    background-color: #2653a6;
    font-family: 'proxima_nova_ltlight';
    font-size: 18px;
	&:hover {
		color: #2653a6;
		background-color: #fff;
		border-color: #2653a6;
	}
}



.btn-normal,
.btn-normal:link,
.btn-normal:focus,
.btn-normal:visited,
.btn-normal:active {
	background-color: #F3F3F3;
	color: #101010;
	width: auto;
	padding: 6px 10px;
	border-radius: 0px;
    display: inline-block;
    border: solid 1px #C0C0C0;
    font-family: 'Roboto', sans-serif;
    &:hover {
		color: #c2151c;
		background-color: #fff;
	}
}


.btn-red,
.btn-red:link,
.btn-red:focus,
.btn-red:visited,
.btn-red:active {
	padding: 6px 10px;
    background-color: #c20001;
    font-family: 'proxima_nova_ltlight';
    font-size: 18px;
	&:hover {
		color: #c20001;
		background-color: #fff;
		border-color: #c20001;
	}
}

.form-control {
    width: 100%;
    padding: 13px;
    border: 1px solid #dadada;
    border-radius: 2px;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    height: 45px;
}

.popup_content {
	background-color: #fff;
	padding: 50px;
	max-width: 700px;

	.popup_close_btn {	
		position: absolute;
	    right: 5px;
	    top: 0;
	    width: auto;
	    height: 30px;
	    line-height: 30px;
	    color: #101010;
	    font-weight: 600;
	    outline: none;
	    -webkit-transition: background 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out;
		-o-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
	}

	&--widthfull {
		max-width: 100%;
	}

	@media screen and (max-width: 767px) {
		padding: 50px 20px;
	}
}

.mainCt {
	height: 100%;
	margin-top: 64px;
}

.contentCt {
	width: 100%;
	height: 100%;
    padding-left: 240px;
	padding-top: 20px;
	background-color: #f4f6f8;
	overflow: scroll;
}

/* Sidebar and Menu Bar ============*/

.sidebarCt {
	position: fixed;
	left: -1px;
	width: 230px;
	height: 100%;
	display: inline-block;
	background-color: #f4f4e9;
	border: 1px solid #e7e7e7;
    border-bottom: none;
    border-top: none;
	z-index: 1;
	overflow: scroll;
	.img-wrapper {
		border-bottom: 1px solid #e7e7e7;
		text-align: center;
		.image {
			margin: 10px auto 0px;
			height: 110px;
			width: 110px;
			background-size: cover;
			background-position: center;
			border-radius: 5px;
		}
		.name-designation {
			font-size: 13px;
			font-weight: 400;
			color: #922525;
			text-transform: uppercase;
			font-family: 'Roboto', sans-serif;
		}
	}
	.box-circle {
		a{
			margin-top: 1px;
			display: block;
			padding: 8px 10px;
			font-size: 13px;
			color: #ffffff;
			background-color: #922525;

			&:hover {
				background-color: #f58383;
				text-decoration: none;
			}
			&.active {
				background-color: #f58383 !important;
				text-decoration: none;
			}
		}
		&.menu-item-has-children {
			.sub-menu {
				display: none;
			}
			> a {
				background-image: url("../images/arrow-left-icon.png");
				background-repeat: no-repeat;
				background-position: right 10px center;
				background-size: 6px 12px;
				&.menu-down-arrow {
					background-image: url("../images/arrow-down-icon.png");
					background-size: 12px 6px;
				}
			}
			a.active + .sub-menu {
				display: block;
			}
		}
	}
	.sub-menu {
		background-color: #f4f6f8;
		.box-circle {
			a {
				margin: 0px;
				padding: 8px 15px;
				color: #922525;
				background-color: #fff;
			}
		}
	}
}

// .evidenceCt {
// 	.table td, .table th {
// 		padding: 5px !important;
// 	}
	
// 	table td:first-child {
// 		padding-left: 0px !important;
// 	}

// 	.form-control {
// 		padding: 5px;
// 		border-radius: 0px;
// 		font-size: 14px;
// 	}
// 	button {
// 		vertical-align: sub;
// 	}
// }


// .evidenceCt {
// 	.evidence-block {
// 		display: inline-block;
// 		margin-right: 20px;
// 		margin-bottom: 20px;
// 		padding: 10px 20px;
// 		background-color: #fff;
// 		border: 1px solid #ddd;
// 		text-align: center;
// 		img {
// 			display: block;
// 			width: 120px;
// 			height: 100px;
// 		}
// 		span{
// 			display: block;
// 			margin-top: 10px;
// 			color: #333333;
// 			font-size: 14px;
// 		}
// 	}
// }

.boxCt {
	margin-bottom: 30px;
	.inner {
		padding: 10px 20px;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		background-color: #fff;
		border: 1px solid #ddd;
		text-transform: uppercase;
		span {
			padding: 3px 10px;
			background-color: #ddd;
		}
	}
}

.reportCt {
	padding: 15px 10px;
	overflow: auto;
	border: 1px solid #000;
	.inner-block {
		overflow: auto;
	}

	h5 {
		color: #922525;
		font-size: 16px;
	}
	.boxCt {
		width: 46%;
		margin: 3px 2%;
		float: left;
		.inner {
			padding: 3px;
			font-size: 12px;
			span {
				padding: 2px 5px;
			}
		}
	}
}

.tableCt {
	display: block;
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	tbody {
		width: 100%;
    	display: table;
	}
	tr {
		&.one-third {
			width: 33%;
			float: left;
		}
		&.half {
			width: 50%;
			float: left;
		}
		td {
			display: block;
			margin-bottom: 12px;
		}
		span {
			display: block;
			font-size: 15px;
			font-weight: 400;
			font-family: 'Roboto', sans-serif;
			margin-bottom: 2px;
		}
		input {
			display: block;
			width: 100%;
			padding: 5px;
			border: 1px solid #dadada;
			border-radius: 2px;
			color: #333333;
			font-size: 14px;
			font-weight: 300;
			background-color: #fff;
			border-radius: 0px;
		}
		select {
			display: block;
			width: 100%;
			padding: 5px;
			border: 1px solid #dadada;
			border-radius: 2px;
			color: #333333;
			font-size: 14px;
			font-weight: 300;
			background-color: #fff;
			border-radius: 0px;
		}
	}
}


.customAccordion {
	.accordion>.card>.card-header {
		margin: 0px;
    	padding: 0px;
	}
	button {
		width: 100%;
		padding: 7px 10px;
		text-align: left;
		background: #f4f4e9;
		color: #922525;
		font-size: 16px;
		background-image: url("../images/acc-plusicon.png");
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 22px 22px;
		&:focus, &:active {
			color: #922525;
			text-decoration: none;
			background-image: url("../images/acc-minusicon.png");
		}
		&:hover {
			color: #922525;
			text-decoration: none;
		}
	}
	.card-body {
		background: #f4f4e9;
		.inner {
			span.title {
				margin-bottom: 15px;
				padding: 10px;
				min-width: 200px;
				// width: 40%;
				float: left;
				font-size: 14px;
				text-align: right;
				line-height: 12px;
			}
			input {
				padding: 2px 10px;
				width: auto;
				height: 30px;
				float: left;
				font-size: 14px;
				background: #f4f4e9;
				border: 1px solid #000;
				border-radius: 0;
				&:focus {
					box-shadow: none;
				}
			}

			select {
				padding: 2px 10px;
				width: auto;
				min-width: 169px;
				height: 30px;
				float: left;
				font-size: 14px;
				background: #f4f4e9;
				border: 1px solid #000;
				border-radius: 0;
				&:focus {
					box-shadow: none;
				}
			}

			textarea {
				width: 80%;
				max-width: 400px;
				margin-bottom: 15px;
				float: left;
				border: 1px solid #000;
				background: #f4f4e9;

			}
		}
	}
}

.customForm {
	background: #f4f4e9;
	&.customBorder {
		border-color: 1px solid #dfdfdf;
		border-radius: 5px;
	}
	span.title {
		margin-bottom: 15px;
		padding: 10px;
		min-width: 160px;
		// width: 40%;
		float: left;
		font-size: 14px;
		text-align: right;
		line-height: 12px;
	}
	
	input {
		padding: 10px;
		width: auto;
		height: 30px;
		float: left;
		font-size: 14px;
		background: #f4f4e9;
		border: 1px solid #000;
		border-radius: 0;
		&:focus {
			box-shadow: none;
		}
	}

	select {
		padding: 10px;
		width: auto;
		height: 30px;
		float: left;
		font-size: 14px;
		background: #f4f4e9;
		border: 1px solid #000;
		border-radius: 0;
		&:focus {
			box-shadow: none;
		}
	}
	.searchcase {
		width: 100%;
	}
}

.chargedOfficerCt {
	.inner {
		position: relative;
		padding: 30px 20px 20px;
		border: 1px solid #922525;
		.chargedOfficesTitle {
			position: absolute;
			top: 0px;
			left: 20px;
			margin-top: -16px;
			padding: 5px 10px;
			background-color: #922525;
			color: #fff;
			border-radius: 5px;
		}
		span {
			margin: 0px;
			padding: 6px;
			text-align: left;
		}
		span.title {
			text-align: right;
		}
	}
}

.custom-file-upload {
	background: url("../images/upload-photo-icon-21.jpg") left center;
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	input[type="file"] {
		display: none;
	}
}

.required:after {
    content:" *";
    color: red;
}

.modal.show .modal-dialog.custom {
	max-width: 800px;
}


.dashboardCt {
	.threeBlockCss {
		padding: 20px;
		border: 1px solid #f4f4e9;
		background-color: #fff;
	}
}

.modal-content {
	font-size: 14px;
	color: #000000;
	span {
		display: block;
	}
	input, select, textarea, input:focus, select:focus, textarea:focus {
		margin-bottom: 12px;
		padding: 2px 10px;
		color: #000000;
		font-size: 14px;
	}
	textarea {
		float: left;
		width: 80%;
	}
}

.btn-custom {
	padding: 6px 10px !important;
	color: #fff !important;
	border-radius: 0px !important;
}

.btn-custom-grid {
	min-width: 78px;
	white-space: nowrap;
	text-align: center;
}

.helpdeskCt {
	.gjutitle {
		font-size: 22px;
		color: red;
	}
	.pduiictitle {
		font-size: 18px;
	}
	.innovation_team {
		max-width: 400px;
		margin: 20px auto;
		background-color: #f4f4e9;
		border: 1px solid #000000;
		border-radius: 4px;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
		box-shadow:         3px 3px 5px 6px #ccc;
		.team_member {
			padding: 15px 20px;
			border: 1px solid #000000;
			font-family: 'Roboto', sans-serif;
			.name {
				font-size: 16px;
			}
			.designation {
				font-size: 14px;
				color: #b4bbc3;
			}
		}
	}
}

select.customSelect {
	padding: 2px 10px;
	width: auto;
	min-width: 169px;
	height: 30px;
	float: left;
	font-size: 14px;
	background: #f4f4e9;
	border: 1px solid #000;
	border-radius: 0;
	&:focus {
		box-shadow: none;
	}
}

.customTable  {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	thead {
		th {
			padding: 4px 10px !important;
			font-size: 14px;
			font-weight: 500;
			color: #17a2b8;
		}
	}
	tbody {
		td , th{
			padding: 4px 10px !important;
			font-size: 13px;
			color: #6c757d;

		}
	}
	&.maxheight {
		height: auto;
		max-height: 202px;
	}
}

.faceDetection {
	padding: 30px;
	text-align: center;
	background-color: #ffffff;
	.demoImage {
		margin: 20px auto;
		width: 300px;
		height: 300px;
		border-radius: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
}